/* Eric Meyer's Reset CSS v2.0 
   http://meyerweb.com/eric/tools/css/reset
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Box sizing reset 
   Thanks to Paul Irish
   http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

.not-supported {
  border-left: 5px solid #c0392b; }
  .not-supported .overlay {
    background-color: rgba(192, 57, 43, 0.4); }

.partial-support {
  border-left: 5px solid #f39c12; }
  .partial-support .overlay {
    background-color: rgba(243, 156, 18, 0.4); }

html {
  font-size: 62.5%;
  background-color: #fafafa; }

body {
  font-size: 1.6rem;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  line-height: 1.4;
  color: #323232; }

.site-title {
  font-weight: 700;
  font-size: 1.8rem; }

h1 {
  font-size: 3rem;
  margin-bottom: 20px; }

.subheading {
  margin-bottom: 15px; }

strong {
  font-weight: 700; }

.site-footer, .sh-info {
  font-size: 1.4rem; }

h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 15px; }

.btn {
  font-size: 1.5rem;
  font-weight: 700; }

a {
  text-decoration: underline;
  color: #000; }

.no-ul a, .btn a, a.btn {
  text-decoration: none; }

.code-font {
  font-family: 'Source Code Pro';
  font-size: 1.4rem; }

li.feature {
  font-size: 1.4rem; }

.github-gist-star {
  text-decoration: none;
  font-size: 1.2rem; }

html, body {
  background-color: whitesmoke; }

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 780px;
  padding: 0 15px; }

.site-section {
  background-color: #fff;
  display: block;
  width: 100%;
  margin-bottom: 3rem; }

.site-section:not(.no-padd) {
  padding: 10px 20px; }

.site-header {
  margin-bottom: 70px;
  background-color: #eee9e9;
  text-align: left;
  padding: 20px 0; }

.site-main {
  min-height: 600px; }

.site-footer {
  background-color: #eee9e9;
  padding: 20px 0;
  text-align: center;
  margin-top: 20px; }

.branding, .sh-info {
  display: block;
  text-align: center; }

.branding img {
  width: 55px;
  height: auto;
  display: block;
  margin: 0 auto 15px; }

.sh-info {
  padding-top: 5px; }
  .sh-info p {
    display: block;
    margin-bottom: 3px; }

.twitter-share-button {
  margin-right: 10px; }

.btn {
  display: inline-block;
  cursor: pointer;
  margin: 0 5px 10px;
  padding: 5px;
  background-color: #fff;
  border: 1px solid #eee9e9;
  border-bottom: 5px solid #eee9e9;
  position: relative; }
  .btn .text {
    position: relative;
    z-index: 2; }

.btn .overlay {
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: height 0.5s;
  background-color: #eee9e9;
  z-index: 1; }

.btn.active .overlay, .btn:hover .overlay {
  height: 100%;
  transition: height 0.5s; }

.feature-list {
  text-align: center; }

li.feature {
  list-style-type: none;
  width: auto;
  background-color: #fff;
  display: inline-block;
  margin: 0 10px 20px;
  position: relative; }
  li.feature a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    z-index: 2;
    position: relative; }

li.feature .overlay {
  display: block;
  width: 1px;
  height: 100%;
  position: absolute;
  transition: width 1s; }

li.feature:hover .overlay {
  width: 100%;
  transition: width 1s; }

.filter-features {
  margin: 30px 0;
  display: block;
  text-align: center; }

.search-field {
  height: 40px;
  width: 300px;
  background-color: #fff;
  border: 1px solid #eee9e9;
  border-bottom: 5px solid #eee9e9;
  margin: 0 auto 40px;
  display: inherit;
  font-size: 1.6rem;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  line-height: 1;
  color: #323232;
  padding: 0 5px;
  outline: none; }

.search-field:focus {
  background-color: #eee9e9; }

ul.bullet-list {
  margin-bottom: 15px;
  list-style: disc;
  list-style-position: outside;
  padding-left: 20px; }

section.workarounds {
  margin: 50px 0; }

.workaround {
  background-color: #fff;
  margin-bottom: 40px;
  width: 100%; }
