<p>
In developing countries like Nigeria, Opera Mini is used by up to <a href="http://gs.statcounter.com/#all-browser-NG-monthly-201412-201511" target="_blank">70% of users</a> on mobile. This is a problem because Opera Mini today is basically like IE 8. It has terrible support for a lot of development features we take for granted. (<a href="http://bitsofco.de/wtf-opera-mini/">Read more in the full blog post</a>)</p>

<p><strong>Opera Mini Tips (previously, WTF Opera Mini?!)</strong> is a collection of front-end development features not supported by Opera Mini and, more importantly, some <strong>crowdsourced workarounds</strong> for them. This isn't about bashing the problem, but figuring out the solution.</p>

<br><br>

<h2>Why doesn't Opera Mini support these features?</h2>

<p>Opera Mini, in Extreme Mode, is built specifically for data-conscious users in mind. For these users, they are willing to trade a lot of the data-heavy features for lighter web pages.</p>

<p>Some points:</p>

<ul class="bullet-list">
	<li>In Opera Mini Extreme mode, the data is passed through the servers and made into a format called 'OBML'. The servers are still using the <a href="https://en.wikipedia.org/wiki/Presto_(layout_engine)" target="_blank">Presto rendering engine</a>, not Webkit or Blink.</li>
	<li>JavaScript is not hosted in the browser.</li>
</ul>



<br><br>




