<div class="loading-container">
	<img src="images/loading.gif" alt="">
</div>


<!-- <header class="page-header site-section {{ classStat }}">

	<h1>{{ feature.title }}</h1>

	<p class="subheading">{{ feature.description }}</p>
	<p class="subheading"><strong>{{ niceStat }}</strong></p>

	<ul class="bullet-list" ng-if="notes != ''">
		<li ng-repeat="note in notes">
			{{note}}
		</li>
	</ul>
	
</header> -->

<section class="workarounds">
	<h2>Support</h2>

	<p class="ciu_embed" data-feature="{{ featureKey }}" data-periods="current">   <a href="http://caniuse.com/#feat={{ featureKey }}">Can I Use {{ featureKey }}?</a> Data on support for the css-first-letter feature across the major browsers from caniuse.com. </p>

</section>


<section class="workarounds">

	<h2>Workarounds (<a href="https://github.com/ireade/wtfoperamini#contribute" target="_blank">Submit</a>)</h2>


	<p ng-if="workarounds.length == 0">None yet.</p>

	<div ng-if="workarounds.length > 0" class="workaround" ng-repeat="workaround in workarounds">

		<p data-height="268" data-theme-id="21401" data-slug-hash="{{ workaround.pen_id }}" data-default-tab="result" data-user="{{ workaround.codepen_username }}" class='codepen'>
		<a href='http://codepen.io/{{ workaround.codepen_username }}/pen/{{ workaround.pen_id }}/'>See the Pen</a> by <a href='http://codepen.io/{{ workaround.codepen_username }}'>@{{ workaround.codepen_username }}</a> on <a href='http://codepen.io'>CodePen</a>
		</p>

	</div>

</section>

<script async src="//cdn.jsdelivr.net/caniuse-embed/1.0.1/caniuse-embed.min.js"></script>
<script async src="//assets.codepen.io/assets/embed/ei.js"></script>