<header class="page-header site-section {{ classStat }}">

	<h1>{{ feature.title }}</h1>

	<p class="subheading">{{ feature.description }}</p>
	<p class="subheading"><strong>{{ niceStat }}</strong></p>

	<ul class="bullet-list" ng-if="notes != ''">
		<li ng-repeat="note in notes">
			{{note}}
		</li>
	</ul>

	<a class="" href="http://caniuse.com/#feat={{ featureKey }}" target="_blank">View on caniuse.com</a>
	
</header>


<section class="workarounds">

	<h2>Workarounds (<a href="https://github.com/ireade/wtfoperamini#contribute" target="_blank">Submit</a>)</h2>


	<p ng-if="workarounds.length == 0">None yet.</p>

	<div ng-if="workarounds.length > 0" class="workaround" ng-repeat="workaround in workarounds">

		<p data-height="268" data-theme-id="21401" data-slug-hash="{{ workaround.pen_id }}" data-default-tab="result" data-user="{{ workaround.codepen_username }}" class='codepen'>
		<a href='http://codepen.io/{{ workaround.codepen_username }}/pen/{{ workaround.pen_id }}/'>See the Pen</a> by <a href='http://codepen.io/{{ workaround.codepen_username }}'>@{{ workaround.codepen_username }}</a> on <a href='http://codepen.io'>CodePen</a>
		</p>

	</div>

</section>


<script async src="//assets.codepen.io/assets/embed/ei.js"></script>